$main-color: #FFFFFF;

.side {
  width: 300px;
  float:left;
  color: $main-color;
  background-color: #253141;
  height: 96px;
  &__user{
    color: $main-color; 
    &--name{
    font-size: 16px;
    margin-left: 20px;
    line-height: 96px;
    font-weight: bold;
    color: $main-color;
    float: left;
    }
    &--edit{
      color: $main-color;
      float: right;
      padding-right: 10px;
      line-height: 96px;
    }
    &--cog{
      color: $main-color;
      float: right;
      padding-right: 20px;
      line-height: 96px;
    } 
  }
  &__group{
    width: 300px;
    background-color: #2f3e51;
    height: calc(100vh - 96px);
    overflow: scroll; 
    position: relative;  
    &--name{
      color: $main-color;
      font-size: 15px;
      font-weight: bold;
      box-sizing: border-box;  
      padding: 30px 0 2px 20px;    
    }
    &--message{
      color: $main-color;
      font-size: 11px;
      font-weight: bold;
      box-sizing: border-box;
      padding-left: 20px; 
    } 
  }
}

.right-header {
  &__group{
    height: 96px;
    padding-left: 340px;
    
    &--name{
    padding-top: 35px;
    font-size: 20px;
    color: #333333;
    }
    &--member{
    color: #999995;
    font-size: 12px;
    }   
    &--edit{
    position: absolute;
    width: 70px;
    height: 40px;
    right: 40px;
    top: 35px;
    text-align: center;
    line-height: 40px;
    border: solid 2px #38aef0;
    }
  }
}

.border{
  border-bottom: 1px solid #eeeeee;
  width: 100vw;
}

.right-messages{
  background-color: #fafafa;
  box-sizing: border-box;
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  float: right;
  overflow: scroll;
  .messages{
    &__chat{
      &--user{
        color: #434a54;
        font-weight: bold;
        float: left;
        font-size: 16px;
        padding: 46px 40px 0;
        display: flex;
      }
      &--date{
        padding-left: 10px;
        font-size: 12px;
        color: #999999;
        padding-top: 48px;   
        display: flex; 
      }
      &--message{
        color: #434a54;
        padding: 10px 40px 0;
      }
    }
  }
}

.contents{
  background-color: #e1e1e1;
  height: 93px;
  box-sizing: border-box;
  width: calc(100vw - 300px);
  float: right;
  &__input{
    &--type{
      color: #434a54;
      font-size: 16px;
      background-color: white;
      padding: 17px calc(100vw - 700px) 17px 10px;
      position: absolute;
      bottom: 13px;
      left: 340px;
      white-space: nowrap;
    }
    &--image{
      position: absolute;
      right: 180px;
      bottom: 20px;
      color: black;
      font-size: 30px;
    }
    &--test{
      display: none;
    }
    &--send{
      color: $main-color;
      position: absolute;
      height: 50px;
      width: 100px;
      background-color: #38aef0;
      text-align: center;
      line-height: 50px;
      right: 40px;
      bottom: 20px;
    }
  }
}